.modal-wrapper-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-detail {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 800px;
}

.close-detail {
  cursor: pointer;
}

.header-detail {
  display: flex;
  justify-content: space-between;
}

.modal-body-detail {
  min-height: 240px;
  min-width: 760px;
}
